---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details open class="my-0 w-full max-w-full rounded-md bg-black/5 p-4 dark:bg-white/5 2xl:w-80">
	<summary class="title hover:marker:text-accent cursor-pointer text-lg">Table of Contents</summary>
	<nav class="ms-4 lg:w-full">
		<ol class="mt-4">
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ol>
	</nav>
</details>
